.gps1{
    text-align: center;
    margin: 5px;
}

.gps{
    width: 500px;
}

.lista-con{
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    border: 3px solid orange;
    background-color: beige;
    li{
        list-style-type: none;
    }
}

h3{
    text-align: center;
}