* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@font-face {
    font-family: "fuente-pr";
    src: url(../fonts/Creepster-Regular.ttf);
}

@font-face {
    font-family: "fuente-seg";
    src: url(../fonts/Anton-Regular.ttf);
}

@font-face {
    font-family: "fuente-p";
    src: url(../fonts/PermanentMarker-Regular.ttf);
}

@mixin mobile{
    @media (max-width: 425px){
        @content
    }
};

@mixin flex ($display,$justify-content){
    display: $display;
    justify-content: $justify-content;
}