.stock ul{
    @extend .grid;
    margin: 10px;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 300px);
    grid-template-areas:
    "nike nike-1 puma"
    "nike-2 adidas adidas-1";
    @include mobile{
        display: flex;
        flex-direction: column;
        padding: 5px;
    }

    li{
        list-style-type: none;
        @include mobile{
            margin: 10px;
        }
    }

    img{
        border: 2px solid green;
        width: 200px;
        height: 200px;
    }
    button{
        margin-top: 4px;
    }
    a{
        text-decoration: none;
    }
    a:focus{
        color: green;
        background-color: violet;
    }
}

.nike{
    grid-area: nike;
}

.nike-1{
    grid-area: nike-1;
}

.puma{
    grid-area: puma;
}

.adidas{
    grid-area: adidas;
}

.nike-2{
    grid-area: nike-2;
}

.adidas-1{
    grid-area: adidas-1;
}

select:focus{
    color: green;
}

option:disabled{
    background-color: rgba(231, 101, 101, 0.753);
}

.hashtag{
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    margin: 4px;
    font-size: 30px;
    color: green;
}