@charset "UTF-8";
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@font-face {
  font-family: "fuente-pr";
  src: url(../fonts/Creepster-Regular.ttf);
}
@font-face {
  font-family: "fuente-seg";
  src: url(../fonts/Anton-Regular.ttf);
}
@font-face {
  font-family: "fuente-p";
  src: url(../fonts/PermanentMarker-Regular.ttf);
}
@media (max-width: 425px) {
  body {
    margin: 0;
    padding: 5px;
    font-size: 16px;
    text-align: center;
  }
}

.grid, .stock ul, .medio {
  display: grid;
  justify-content: center;
  text-align: center;
}

.flex, .galeria ul, .redes-sociales {
  display: flex;
  justify-content: center;
}

.logo {
  background-color: white;
  width: 100px;
  height: 100px;
  margin-left: 20px;
}
@media (max-width: 425px) {
  .logo {
    text-align: center;
    margin: 3px;
  }
}

h1 {
  text-align: center;
  text-decoration: underline;
  font-family: "fuente-pr";
  font-size: 70px;
  color: green;
  margin-top: 0px;
}
@media (max-width: 425px) {
  h1 {
    display: none;
  }
}

.paginas {
  display: flex;
  justify-content: center;
}
.paginas li {
  display: inline-block;
  list-style-type: none;
  margin: 6px;
  border: 1px solid green;
}
@media (max-width: 425px) {
  .paginas li {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2px;
  }
}
.paginas a {
  text-decoration: none;
  font-size: 20px;
  color: green;
}
.paginas a:hover {
  color: blue;
}

h2 {
  text-align: center;
  color: green;
  font-family: "fuente-seg";
  margin: 10px;
}

.medio {
  grid-template-columns: repeat(3, 300px);
  grid-template-rows: repeat(1, 300px);
  grid-template-areas: "mujer hombre niño" "mujer hombre niño";
}
@media (max-width: 425px) {
  .medio {
    display: flex;
    flex-direction: column;
  }
}
.medio img {
  border: 3px solid green;
  width: 270px;
  height: 300px;
  object-fit: cover;
}
@media (max-width: 425px) {
  .medio img {
    width: 90%;
    height: auto;
    margin: 4px;
  }
}
.medio button {
  margin-top: 8px;
  border: solid 2px green;
  border-radius: 100px;
}
.medio button a:hover {
  color: blue;
}
.medio a {
  text-decoration: none;
  padding: 2px;
  color: green;
}

.mujer {
  grid-area: mujer;
}

.hombre {
  grid-area: hombre;
}

.niño {
  grid-area: niño;
}

.publicidad {
  text-align: center;
  margin-top: 50px;
}

@media (max-width: 425px) {
  iframe {
    display: none;
  }
}

.derechos-res {
  margin-left: 20px;
  margin-bottom: 20px;
}

.redes-sociales li {
  display: inline-block;
  list-style-type: none;
  margin: 8px;
}
.redes-sociales img {
  margin: 5px;
  width: 30px;
  height: 30px;
}

.stock ul {
  margin: 10px;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, 300px);
  grid-template-areas: "nike nike-1 puma" "nike-2 adidas adidas-1";
}
@media (max-width: 425px) {
  .stock ul {
    display: flex;
    flex-direction: column;
    padding: 5px;
  }
}
.stock ul li {
  list-style-type: none;
}
@media (max-width: 425px) {
  .stock ul li {
    margin: 10px;
  }
}
.stock ul img {
  border: 2px solid green;
  width: 200px;
  height: 200px;
}
.stock ul button {
  margin-top: 4px;
}
.stock ul a {
  text-decoration: none;
}
.stock ul a:focus {
  color: green;
  background-color: violet;
}

.nike {
  grid-area: nike;
}

.nike-1 {
  grid-area: nike-1;
}

.puma {
  grid-area: puma;
}

.adidas {
  grid-area: adidas;
}

.nike-2 {
  grid-area: nike-2;
}

.adidas-1 {
  grid-area: adidas-1;
}

select:focus {
  color: green;
}

option:disabled {
  background-color: rgba(231, 101, 101, 0.753);
}

.hashtag {
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
  margin: 4px;
  font-size: 30px;
  color: green;
}

.nosotros-text {
  font-family: "fuente-p";
  font-size: 24px;
  margin: 5px;
  border: 4px solid yellow;
  padding: 3px;
  background-color: beige;
  color: black;
}

.galeria ul {
  width: 100%;
}
@media (max-width: 425px) {
  .galeria ul {
    display: flex;
    flex-direction: column;
  }
}
.galeria ul li {
  list-style-type: none;
  margin: 10px;
}
.galeria ul img {
  width: 400px;
  height: 250px;
  border: 3px solid green;
  border-radius: 70px;
  object-fit: cover;
}
@media (max-width: 425px) {
  .galeria ul img {
    width: 85%;
    height: auto;
    margin: 4px;
  }
}

.gps1 {
  text-align: center;
  margin: 5px;
}

.gps {
  width: 500px;
}
@media (max-width: 425px) {
  .gps {
    display: inherit;
    width: 100%;
    height: auto;
  }
}

.lista-con {
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 20px;
  border: 3px solid orange;
  background-color: beige;
}
@media (max-width: 425px) {
  .lista-con {
    width: 100%;
    height: auto;
  }
}
.lista-con li {
  list-style-type: none;
}

h3 {
  text-align: center;
}
@media (max-width: 425px) {
  h3 {
    margin-top: 6px;
  }
}

/*# sourceMappingURL=styles.css.map */
