.gps1{
    text-align: center;
    margin: 5px;
}

.gps{
    width: 500px;
    @include mobile{
        display: inherit;
        width: 100%;
        height: auto;
    }
}

.lista-con{
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    border: 3px solid orange;
    background-color: beige;
    @include mobile{
        width: 100%;
        height: auto;
    }
    li{
        list-style-type: none;
    }
    a{
        text-decoration: none;
    }
}

h3{
    text-align: center;
    color: $primary-color;
    font-family: "fuente-seg";
    @include mobile{
        margin-top: 6px;
    }
}

.registro{
    background-color: blue;
    color: white;
    border: 3px solid blue;
    padding: 8px;
}