.derechos-res{
    margin-left: 20px;
    margin-bottom: 20px;
}

.redes-sociales{
    @extend .flex;
    li{
        display: inline-block;
        list-style-type: none;
        margin: 8px;
    }
    img{
        margin: 5px;
        width: 30px;
        height: 30px;
        transition: width 1s ease, height 1s ease-in;
    }
    img:hover{
        width: 45px;
        height: 45px;
    }
}