.logo{
    background-color: white;
    width: 100px;
    height: 100px;
    margin-left: 20px;
    @include mobile{
        text-align: center;
        margin: 3px;
    }
}

h1{
    text-align: center;
    text-decoration: underline;
    font-family: "fuente-pr";
    font-size: 70px;
    color: $primary-color;
    margin-top: 0px;
    @include mobile{
        display: none;
    }
}

.paginas{
    display: flex;
    justify-content: center;
    li{
        display: inline-block;
        list-style-type: none;
        margin: 6px;
        border: 1px solid $primary-color;
        @include mobile{
            display: flex;
            flex-direction: column;
            align-items: center;
            padding: 2px;
        }
    }
    a{
        text-decoration: none;
        font-size: 20px;
        color: $primary-color;
        background-color: white;
        transition: background-color 2s ease;
    }
    a:hover{
        background-color: $second-color;
    }
}
