h2{
    text-align: center;
    font-family: "fuente-pr";
    font-size: 70px;
    color: $primary-color;
    margin-top: 0px;
    @include mobile{
        display: none;
    }
}

.medio{
    @extend .grid;
    grid-template-columns: repeat(3, 300px);
    grid-template-rows: repeat(1, 300px);
    grid-template-areas:
    "mujer hombre ni単o"
    "mujer hombre ni単o";
    @include mobile{
        display: flex;
        flex-direction: column;
    }
    img{
        border: 3px solid $primary-color;
        width: 270px;
        height: 300px;
        object-fit: cover;
        margin: 8px;
        @include mobile{
            width: 90%;
            height: auto;
            margin: 4px;
        }
    }
    img:hover{
        animation: big 2s ease;
        animation-fill-mode: forwards;
    }
    button{
        margin: 5px;
        padding: 3px;
        border: solid 2px $primary-color;
        border-radius: 100px;
        background-color: white;
        transition: background-color 2s ease;
    }
    button:hover{
        background-color: $second-color;
    }
    a{
        text-decoration: none;
        padding: 2px;
        color: $primary-color;
    }
}

@keyframes big{
    0%{
        scale: 1;
    }
    100%{
        scale: 1.1;
    }
}


.mujer{
    grid-area: mujer;
}

.hombre{
    grid-area: hombre;
}

.ni単o{
    grid-area: ni単o;
}

.publicidad{
    text-align: center;
    margin-top: 60px;
}

iframe{
    @include mobile{
        display: none;
    }
}